@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(13, 14, 13);
  transition: 0.4s;
}



@media (hover: hover) {
  a:hover {
    background-color: hsla(287, 13%, 78%, 0.2);
  
  }
}


